.container-projects {
	min-height: calc(100vh - 70px);
	margin-top: 70px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: var(--white);
}

.projects {
	width: 100%;
	max-width: 1024px;
}

.card img {
	width: 500px;
}
