@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
	--light-purple: #625770;
	--dark-purple: #0e0716;
	--dark-purple-semi: rgba(20, 13, 28, 0.8);
	--medium-purple: #221750;
	--pink: #d93f87;
	--white: #e6e6e6;
}

* {
	font-family: 'Abel', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background: radial-gradient(ellipse at top right, #0000, var(--dark-purple)),
		radial-gradient(ellipse at bottom left, #0000, var(--dark-purple));
}

.mandala-1,
.mandala-2 {
	z-index: -1;
	opacity: 0.4;
	position: fixed;
	overflow: hidden;
	height: 70vh;
}

.mandala-1 {
	top: calc(100vh - 50%);
	left: calc(100vw - 110%);
}

.mandala-2 {
	bottom: calc(100vh - 50%);
	right: calc(100vw - 110%);
}

@media screen and (max-width: 768px) {
	.mandala-1 {
		top: calc(100vh - 30%);
		left: calc(100vw - 110%);
	}

	.mandala-2 {
		bottom: calc(100vh - 30%);
		right: calc(100vw - 110%);
	}
}
